﻿@model DemoWeb1.Models.Student

@{
    ViewBag.Title = "Create";
}

@{
    DemoWeb1.Context.StudentMgntEntities db = new DemoWeb1.Context.StudentMgntEntities();
}

<head>
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<div class="container">
    @using (Html.BeginForm("Create", "Student", FormMethod.Post, new { @class = "form-horizontal", @role = "form", enctype = "multipart/form-data" }))
    {
        <h2>Registration Form</h2>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Full Name"} })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    <span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Confirm Password</label>
                <div style="padding-top:5px"class="col-sm-9">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="photo" class="col-sm-3 control-label">Profile Photo</label>
                <div class="col-sm-9">
                    @*<input type="file" name="ImageFile" required />*@
                    <input name="ImageFile" type="file" style="width:367.5px" class="btn btn-default btn-file" />
                </div>
            </div>

            <div class="form-group">
                <label for="Course" class="col-sm-3 control-label">Course</label>
                <div style="padding-top:5px; padding-bottom:5px" class="col-sm-9">
                    @Html.DropDownListFor(model => model.CourseId, new SelectList(db.Courses, "CourseId", "Name"), "Select Course", htmlAttributes: new { @class = "form-control", @id="normalDropDown" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Teachers, htmlAttributes: new { @class = "col-sm-3 control-label" })
                <div style="padding-top:3px" class="col-sm-9">
                    @Html.ListBoxFor(model => model.TeacherListId, new MultiSelectList(db.Teachers, "TeacherId", "Name"), htmlAttributes:  new { @class = "form-control", id = "multiselectTeachers", multiple = "multiple" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <input type="submit" value="Sign Up" id="defaultActionButton" class="btn btn-primary btn-block" />
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(function () {
        $("#normalDropDown").chosen({
            disable_search_threshold: true
        });
        $("#multiselectTeachers").chosen({

        });
    });
</script>
  
