﻿@model DemoWeb1.Models.Student

@{
    ViewBag.Title = "Details";
}
@{
    DemoWeb1.Context.StudentMgntEntities db = new DemoWeb1.Context.StudentMgntEntities();
}

<div class="container">
    <h1>@Model.Name</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <div class="avatar grid-full">
                    @if (!String.IsNullOrEmpty(Model.ImagePath))
                    {
                        <img src="@Url.Content(Model.ImagePath)" width="160" height="160" class="avatar-img grid-4 img-thumbnail" alt="avatar">
                    }
                    else
                    {
                        <img class="avatar-img grid-4 img-thumbnail" alt="avatar">
                    }
                    <h6>Profile Photo</h6>
                </div>
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                This is an <strong>.alert</strong>. Use this to show important messages to the user.
            </div>
            <h3>Personal info</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Full name:</label>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Course: </label>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(model => model.course.Name, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Teachers, htmlAttributes: new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-8">
                        <div style="padding-top:3px" class="ui-select">
                            @Html.ListBoxFor(model => model.TeacherListId, new MultiSelectList(db.Teachers, "TeacherId", "Name"), htmlAttributes: new { @class = "form-control", disabled= "disabled", id = "multiselectTeachers", multiple = "multiple" })
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $("#normalDropDown").chosen({
            disable_search_threshold: true
        });
        $("#multiselectTeachers").chosen({
            
        });
    });
</script>
