﻿@model DemoWeb1.Models.Student

@{
    ViewBag.Title = "Edit";
}

@{
    DemoWeb1.Context.StudentMgntEntities db = new DemoWeb1.Context.StudentMgntEntities();
}

@using (Html.BeginForm("Edit", "Student", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
{
    <div class="container">
        <h1>@Model.Name</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <!-- button camera anhdai dien -->
                    @*<div class="hcn-avatar">
                        <a href="" class="glyphicon glyphicon-plus" style="margin-left: 10px;" data-toggle="modal" data-target="#naptien"><span>Nạp</span></a>
                        <a href="" class="glyphicon glyphicon-camera" style="font-size: 32px;" data-toggle="modal" data-target="#update-avatar"></a>
                        <a href="" class="glyphicon glyphicon-lock" data-toggle="modal" data-target="#doipass"></a>
                    </div>*@
                    <div class="avatar grid-full">
                        @if (!String.IsNullOrEmpty(Model.ImagePath))
                        {
                            <img id="imgpreview" src="@Url.Content(Model.ImagePath)" width="160" height="160" class="avatar-img grid-4 img-thumbnail" alt="avatar">
                        }
                        else
                        {
                            <img id="imgpreview" class="avatar-img grid-4 img-thumbnail" alt="avatar" />
                        }
                        
                        <h6>Upload a different photo...</h6>
                        <input type="file" name="ImageFile" class="form-control" id="idUpload">
                    </div>
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-coffee"></i>
                    This is an <strong>.alert</strong>. Use this to show important messages to the user.
                </div>
                <h3>Personal info</h3>

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.StudentId)
                <div class="form-group">
                    <label class="col-lg-3 control-label">Full Name:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Course:</label>
                    <div class="col-lg-8">
                        <div style="padding-top:3px" class="ui-select">
                            @Html.DropDownListFor(model => model.CourseId, new SelectList(db.Courses, "CourseId", "Name"), "Select Course", htmlAttributes: new { @class = "form-control", @id = "normalDropDown" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Teachers, htmlAttributes: new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-8">
                        <div style="padding-top:3px" class="ui-select">
                            @Html.ListBoxFor(model => model.TeacherListId, new MultiSelectList(db.Teachers, "TeacherId", "Name"), htmlAttributes: new { @class = "form-control", id = "multiselectTeachers", multiple = "multiple" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" id="defaultActionButton" class="btn btn-primary" value="Submit">
                        <span></span>
                        <input type="reset" class="btn btn-default" value="Cancel">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(function () {
        $("#normalDropDown").chosen({
            disable_search_threshold: true
        });
        $("#multiselectTeachers").chosen({

        });

        $("#idUpload").on("change", function () {
            if (this.files && this.files[0]) {
                var filerd = new FileReader();
                filerd.onload = function (e) {
                    $('#imgpreview').attr('src', e.target.result);
                };
                filerd.readAsDataURL(this.files[0]);
            }
        });

        function RemovePhotoProfile() {
            $('#imgpreview').attr('src', "");
        }

        function clearReview() {
            $("#idUpload").val("");
            $('#imgpreview').attr('src', "");
        }
    });
</script>