﻿@model IEnumerable<DemoWeb1.Models.Student>

@{
    ViewBag.Title = "Index";
}

<style>
    .ui-helper-center {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .ui-helper-picture {
        left: 0px;
        top: 0px;
        display: block;
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 100%;
        border-style: solid;
        border-color: lightgray;
        border-width: 10px;
    }
</style>
<h2>Admin</h2>
<form class="navbar-form" action="@Url.Action("Search", "Student")">
    <div class="row">
        <div class="input-group add-on">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" id="SearchString" name="SearchString" />
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-striped" >
    <thead>
        <tr>
            <th>
                Photo
            </th>
            <th>
                Username
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Functions
            </th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!String.IsNullOrEmpty(item.ImagePath))
                    {
                        <img class="ui-helper-picture" src="@Url.Content(item.ImagePath)" />
                    }
                    else
                    {
                        <img class="ui-helper-picture" />
                    }
                </td>
                <td>
                    <div class="ui-helper-center">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </div>

                </td>
                <td>
                    <div class="ui-helper-center">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                </td>
                <td>
                    <div class="ui-helper-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>