﻿<footer>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        @*<p>&copy; 2017 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>