﻿@model DemoWeb1.Models.User

@{
    ViewBag.Title = "Login";
}

<head>
    <link rel="stylesheet" href="~/Content/styles.css">
</head>
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form id="loginform" method="post" action="@Url.Action("Login", "Login", new { @user = Model})" class="form-horizontal" role="form">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "validation-summary-errors validation-summary-form-errors" })
                    <div  class="field-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @*<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">*@
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "username or email" } })
                        </div>
                        <div class="field-error">
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "validation-summary-errors" })
                        </div>
                    </div>

                    <div class="field-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @*<input id="login-password" type="password" class="form-control" name="password" placeholder="password">*@
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "password" } })
                        </div>
                        <div class="field-error">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation-summary-errors" })
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                            </label>
                        </div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            @*<a id="btn-login" href="#" class="btn btn-success">Login  </a>*@
                            <input type="submit" value="Sign In" id="defaultActionButton" class="btn btn-success" />
                            @*<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>*@
                            <input type="submit" value="Sign In with Facebook" class="btn btn-primary" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Don't have an account!
                                @Html.ActionLink("Sign Up Here", "Signup")
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
