﻿@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* HERE STARTS THE MAGIC */
header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 88%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.content-wrapper {
    background-color: white;
    top: 87%;
    min-height: 12%;
    position: absolute;
    z-index: 2;
    width: 100%;
}
/* HERE ENDS THE MAGIC */
header .container {
    padding-top: 150px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

section {
    padding: 100px 0;
    width: 100%;
}

    section h2 {
        margin: 0;
        font-size: 3em;
    }

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

    hr.star-light:after,
    hr.star-primary:after {
        content: "\f005";
        display: inline-block;
        position: relative;
        top: -.8em;
        padding: 0 .25em;
        font-family: FontAwesome;
        font-size: 2em;
    }

hr.star-light {
    border-color: #fff;
}

    hr.star-light:after {
        color: #fff;
        background-color: #18bc9c;
    }

hr.star-primary {
    border-color: #2c3e50;
}

    hr.star-primary:after {
        color: #2c3e50;
        background-color: #fff;
    }

section.primary h2 {
    color: #2c3e50;
}

section.success {
    background-color: #18bc9c;
    color: #fff;
}
