﻿
body {
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.field-group {
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 5px;
}

.validation-summary-errors.validation-summary-form-errors {
    background: bisque;
}

.validation-summary-errors.validation-summary-form-errors ul {
    list-style: none;

}


        .validation-summary-errors.validation-summary-form-errors ul li {
            min-height: 32px;
            line-height: 32px;
        }

/*.wrapper {
    display: relative;
}

img {
    width: 230px;
}

.wrapper .glyphicon {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 40px;
    color: white;
}*/