﻿body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

.input-validation-error
{
   border: solid 2px #ff9999;
}

.validation-summary-errors
{
   font-weight: bold;
   margin-top:0px;
   color: #ff0000;
}
