﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Footer.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Header.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <!--footer-->
        <footer class="footer1">
            <div class="container">
                <div class="row">
                    <!-- row -->

                    <div class="col-lg-3 col-md-3">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 class="title-widget">Useful links</h1>

                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> PG Courses</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Achiever's Batch</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>  Regular Batch</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>  Test & Discussion</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>  Fast Track T & D</a></li>
                                </ul>

                            </li>

                        </ul>


                    </div><!-- widgets column left end -->



                    <div class="col-lg-3 col-md-3">
                        <!-- widgets column left -->

                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 class="title-widget">Useful links</h1>

                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>  Test Series Schedule</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>  Postal Coaching</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>  PG Dr. Bhatia Books</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>  UG Courses</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>  Satellite Education</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>  Study Centres</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>  State P.G. Mocks</a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-angle-double-right"></i> Results</a></li>

                                </ul>

                            </li>

                        </ul>


                    </div><!-- widgets column left end -->



                    <div class="col-lg-3 col-md-3">
                        <!-- widgets column left -->

                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 class="title-widget">Useful links</h1>

                                <ul>

                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Enquiry Form</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Online Test Series</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Grand Tests Series</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Subject Wise Test Series</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Smart Book</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Test Centres</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>  Admission Form</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>  Computer Live Test</a></li>
                                </ul>

                            </li>

                        </ul>


                    </div><!-- widgets column left end -->


                    <div class="col-lg-3 col-md-3">
                        <!-- widgets column center -->



                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_recent_news">
                                <!-- widgets list -->

                                <h1 class="title-widget">Contact Detail </h1>

                                <div class="footerp">

                                    <h2 class="title-median">Webenlance Pvt. Ltd.</h2>
                                    <p><b>Email id:</b> <a href="mailto:info@webenlance.com">info@webenlance.com</a></p>
                                    <p>
                                        <b>Helpline Numbers </b>
                                        <b style="color:#ffc106;">(8AM to 10PM):</b>  +91-8130890090, +91-8130190010
                                    </p>

                                    <p><b>Corp Office / Postal Address</b></p>
                                    <p><b>Phone Numbers : </b>7042827160, </p>
                                    <p> 011-27568832, 9868387223</p>
                                </div>

                                <div class="social-icons">

                                    <ul class="nomargin">

                                        <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                        <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                        <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                                        <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--header-->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="copyright">
                            &copy; @DateTime.Now.Year - My ASP.NET Application, All rights reserved

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="design">
                            <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Webenlance</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/chosen.jquery.min.js"></script>
    
    <script src="~/Scripts/bootstrap.min.js"></script>
    
</body>
</html>