﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui-1.10.2.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    @Html.Partial("Partials/_Header")

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Html.Partial("Partials/_Footer")

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.2.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).bind('keypress', function (e) {
                if (e.keyCode == 13) {
                    $('#defaultActionButton').trigger('click');
                }
            });

            $('#SearchString').keyup(function () {
                var value = $(this).val().toLowerCase();

                filter('#myTable tr', value);
            });

            function filter(idObject, srchText) {
                $(idObject).filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(srchText) > -1)
                });
            }
            $('#SearchString').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Student/SearchAutocomplete",
                        type: "POST",
                        dataType: "json",
                        data: { SearchString: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))

                        }
                    })
                },              
                messages: {
                    noResults: "", results: ""
                }  
            });
        });
    </script>
</body>
</html>